# Compiled object files
*.o

# Build directories
/build/
/bin/
/out/
/logs/

# Editor files
*.swp
*.sublime-workspace
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# CMake or Makefile artifacts
CMakeFiles/
CMakeCache.txt
Makefile

# Logs
*.log

# Secrets
.env
*.key
